<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.lzackx.zemplates.sceneLifecycleApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.lzackx.zemplates.cocoaTouchApplicationBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:UIApplicationSceneManifest</key>
		<dict>
			<key>Beginning</key>
			<string>
            &lt;key&gt;UIApplicationSceneManifest&lt;/key&gt;
            &lt;dict&gt;
                &lt;key&gt;UIApplicationSupportsMultipleScenes&lt;/key&gt;
                &lt;false/&gt;
                &lt;key&gt;UISceneConfigurations&lt;/key&gt;
                &lt;dict&gt;
                    &lt;key&gt;UIWindowSceneSessionRoleApplication&lt;/key&gt;
                    &lt;array&gt;
                        &lt;dict&gt;
                            &lt;key&gt;UISceneConfigurationName&lt;/key&gt;
                            &lt;string&gt;Default Configuration&lt;/string&gt;
                            &lt;key&gt;UISceneDelegateClassName&lt;/key&gt;
                            &lt;string&gt;___VARIABLE_moduleNamePrefixForClasses:XML___SceneDelegate&lt;/string&gt;
</string>
			<key>End</key>
			<string>
                        &lt;/dict&gt;
                    &lt;/array&gt;
                &lt;/dict&gt;
            &lt;/dict&gt;
</string>
			<key>Indent</key>
			<integer>2</integer>
		</dict>
		<key>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</key>
		<string>
&lt;key&gt;UISceneStoryboardFile&lt;/key&gt;
&lt;string&gt;Main&lt;/string&gt;
</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Info.plist:UIApplicationSceneManifest</string>
						</array>
						<key>Definitions</key>
						<dict/>
					</dict>
				</array>
				<key>Swift</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>appLifecycle</key>
							<string>Cocoa</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Info.plist:UIApplicationSceneManifest</string>
						</array>
						<key>Definitions</key>
						<dict/>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
