<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.lzackx.zemplates.sources</string>
	<key>Ancestors</key>
	<array>
		<string>com.lzackx.zemplates.info</string>
	</array>
	<key>Definitions</key>
	<dict/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>RequiredOptions</key>
			<dict>
				<key>appLifecycle</key>
				<string>Cocoa</string>
			</dict>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Sources/</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Sources/</key>
							<dict>
								<key>Path</key>
								<string>Sources/Objective-C/</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Swift</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Sources/</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Sources/</key>
							<dict>
								<key>Path</key>
								<string>Sources/Swift/</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
