<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.lzackx.zemplates.sources</string>
	<key>Ancestors</key>
	<array>
		<string>com.lzackx.zemplates.info</string>
	</array>
	<key>Definitions</key>
	<dict/>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>default</key>
			<string>Swift</string>
			<key>RequiredOptions</key>
			<dict>
				<key>appLifecycle</key>
				<string>Cocoa</string>
			</dict>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array/>
						<key>Definitions</key>
						<dict>
							<key>Sources/</key>
							<dict>
								<key>Path</key>
								<string>Sources/Objective-C/</string>
								<key>TargetIndices</key>
								<array/>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Swift</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Sources/ZAppDelegate/ZAppDelegate.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Development.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Envrionment.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Window.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Privacy.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Request.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Router.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Notification.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Payment.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Advertisement.swift</string>
							<string>Sources/ZAppDelegate/ZAppDelegate+Popup.swift</string>
							<string>Sources/ZFoundation/ZRequest/ZRequest.swift</string>
							<string>Sources/ZFoundation/ZRouter/ZRouter.swift</string>
							<string>Sources/ZFoundation/ZRouter/ZRouter+Registration.swift</string>
							<string>Sources/ZFoundation/ZRouter/Target_ZRouter.swift</string>
							<string>Sources/ZFoundation/ZEnvrionment/ZConstants.swift</string>
							<string>Sources/ZUI/ZNative/ZViewController.swift</string>
							<string>Sources/ZUI/ZFlutter/ZFlutterViewController.swift</string>
							<string>Sources/ZUI/ZWebView/ZWebViewController.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Sources/ZAppDelegate/ZAppDelegate.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Development.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Development.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Envrionment.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Envrionment.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Window.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Window.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Privacy.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Privacy.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Request.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Request.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Router.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Router.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Notification.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Notification.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Payment.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Payment.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Advertisement.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Advertisement.swift</string>
							</dict>
							<key>Sources/ZAppDelegate/ZAppDelegate+Popup.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZAppDelegate</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZAppDelegate/ZAppDelegate+Popup.swift</string>
							</dict>
							<key>Sources/ZFoundation/ZRequest/ZRequest.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZFoundation</string>
									<string>ZRequest</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZFoundation/ZRequest/ZRequest.swift</string>
							</dict>
							<key>Sources/ZFoundation/ZRouter/ZRouter.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZFoundation</string>
									<string>ZRouter</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZFoundation/ZRouter/ZRouter.swift</string>
							</dict>
							<key>Sources/ZFoundation/ZRouter/ZRouter+Registration.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZFoundation</string>
									<string>ZRouter</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZFoundation/ZRouter/ZRouter+Registration.swift</string>
							</dict>
							<key>Sources/ZFoundation/ZRouter/Target_ZRouter.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZFoundation</string>
									<string>ZRouter</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZFoundation/ZRouter/Target_ZRouter.swift</string>
							</dict>
							<key>Sources/ZFoundation/ZEnvrionment/ZConstants.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZFoundation</string>
									<string>ZEnvrionment</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZFoundation/ZEnvrionment/ZConstants.swift</string>
							</dict>
							<key>Sources/ZUI/ZNative/ZViewController.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZUI</string>
									<string>ZNative</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZUI/ZNative/ZViewController.swift</string>
							</dict>
							<key>Sources/ZUI/ZFlutter/ZFlutterViewController.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZUI</string>
									<string>ZFlutter</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZUI/ZFlutter/ZFlutterViewController.swift</string>
							</dict>
							<key>Sources/ZUI/ZWebView/ZWebViewController.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Sources</string>
									<string>ZUI</string>
									<string>ZWebView</string>
								</array>
								<key>Path</key>
								<string>Sources/Swift/ZUI/ZWebView/ZWebViewController.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
