<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.lzackx.zemplates.application.SwiftUI.iOS</string>
	<key>Ancestors</key>
	<array>
		<string>com.lzackx.zemplates.cocoaTouchApplicationBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Preview Content/Preview Assets.xcassets</key>
		<dict>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Path</key>
			<string>Preview Assets.xcassets</string>
			<key>Group</key>
			<string>Preview Content</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Units</key>
			<dict>
				<key>SwiftUI</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Preview Content/Preview Assets.xcassets</string>
							<string>Info.plist:UIApplicationSceneManifestSimple</string>
							<string>Info.plist:UILaunchScreen</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Info.plist:UIApplicationSceneManifestSimple</key>
							<string>&lt;key&gt;UIApplicationSceneManifest&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;UIApplicationSupportsMultipleScenes&lt;/key&gt;
    &lt;true/&gt;
&lt;/dict&gt;
</string>
							<key>Info.plist:UILaunchScreen</key>
							<string>&lt;key&gt;UILaunchScreen&lt;/key&gt;
&lt;dict/&gt;
</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>IPHONEOS_DEPLOYMENT_TARGET</key>
									<string>14.0</string>
									<key>ENABLE_PREVIEWS</key>
									<string>YES</string>
									<key>DEVELOPMENT_ASSET_PATHS</key>
									<string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
								</dict>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>coreData</key>
							<string>false</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
							<string>ContentView.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App.swift</string>
								<key>SortOrder</key>
								<integer>97</integer>
							</dict>
							<key>ContentView.swift</key>
							<dict>
								<key>SortOrder</key>
								<integer>99</integer>
								<key>Path</key>
								<string>ContentView.swift</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>coreData</key>
							<string>true</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME:identifier___App.swift</string>
							<string>ContentView.swift</string>
							<string>Persistence.swift</string>
							<string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME:identifier___App.swift</key>
							<dict>
								<key>Path</key>
								<string>App-CoreData.swift</string>
								<key>SortOrder</key>
								<integer>97</integer>
							</dict>
							<key>ContentView.swift</key>
							<dict>
								<key>SortOrder</key>
								<integer>99</integer>
								<key>Path</key>
								<string>ContentView-CoreData.swift</string>
							</dict>
							<key>Persistence.swift</key>
							<dict>
								<key>Path</key>
								<string>Persistence.swift</string>
								<key>SortOrder</key>
								<integer>100</integer>
							</dict>
							<key>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
								<key>SortOrder</key>
								<integer>101</integer>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Cocoa</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>ContentView.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>ContentView.swift</key>
							<dict>
								<key>SortOrder</key>
								<integer>99</integer>
								<key>Path</key>
								<string>ContentView.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
